databases:
  - name: carhub
    databaseName: carhub
    user: carhub_user

services:
  - type: web
    name: carhub
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: carhub
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
